# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.generated/
.idea/
.vscode/
*.iml
pubspec.yaml

# Android
.gradle/
local.properties
*.apk
*.aar
*.so

# iOS
Pods/
Runner.xcworkspace/
*.xcuserdatad
*.xcuserstate
*.xcsettings

# Others
*.zip
*.rar
*.exe
*.dll
*.pdb
